:root {
  --md-primary-fg-color:        #85a425;
  --md-primary-fg-color--light: #85a425;
  --md-primary-fg-color--dark:  #85a425;
}

.md-content {
    padding-top: 1rem !important; /* Reduce padding above content */
}

.md-nav__link {
    border-bottom: 1px solid var(--md-default-fg-color--light);
    padding-bottom: 8px;
    margin-bottom: 8px;
}


.md-nav__item:last-child .md-nav__link {
    border-bottom: none;
}


@media (prefers-color-scheme: dark) {
    .md-nav__link {
        border-bottom: 1px solid var(--md-default-fg-color--dark);
    }
}

